@{
    ViewData["Title"] = "Request Ticket";
    Layout = "LayoutRequest";
}

<!-- If Admin, Then show Ticket List -->
<div class="card">
    <div class="card-body p-3">
        <div class="row">
            <div class="col-8">
                <div class="numbers">
                    <p class="text-sm mb-0 text-uppercase font-weight-bold">Request Ticket</p>
                    <form id="formRegisterEmployee" class="needs-validation" onsubmit="return true" novalidate>
                        <div id="divTicketSection">
                            <div class="form-row">
                                <div class="col-md-4 mb-3">
                                    <label for="inputTicketCategory">Ticket Category</label>
                                    <select id="inputTicketCategory" class="form-control" required>
                                        <option value="">Choose Category...</option>
                                        <option value="Administration">Administration</option>
                                        <option value="IT Support">IT Support</option>
                                        <option value="Other">Other</option>
                                    </select>
                                    <div class="invalid-feedback">
                                        Please choose Ticket Category.
                                    </div>
                                </div>
                                <div class="col-md-4 mb-3">
                                    <label for="inputTicketType">Ticket Type</label>
                                    <select id="inputTicketType" class="form-control" required>
                                        <option value="">Choose Ticket Type...</option>
                                        <option value="Question">Question</option>
                                        <option value="Issue">Issue</option>
                                    </select>
                                    <div class="invalid-feedback">
                                        Please choose Ticket Type.
                                    </div>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col-md-12 mb-3">
                                    <label for="inputDescription">Description</label>
                                    <textarea class="form-control" id="inputDescription" cols="200" rows="5"></textarea>
                                </div>
                            </div>
                        </div>
                        <button class="btn btn-primary" type="button" onclick="doRequest()">Submit Request</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section CSS {
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
}

@section Scripts {
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="~/js/Ticket.js" asp-append-version="true"></script>
}