################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Application/Client/bin/Debug/netcoreapp3.1/runtimes
*.v2
Application/API/.vs/API/v16/.suo
